@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="py-5">
    <h2>About BoxCricket Buddy</h2>
    <p>We help players find and book the best box cricket venues in their city. Our mission is to make booking a venue as easy as possible.</p>
    <h4>Team</h4>
    <p>Small passionate team of cricket lovers and developers.</p>
</div>
